* {
    margin: 0;
    padding: 0;
}
body {
    font-size:x-large;
    background-image: linear-gradient(to right, white, silver);
    
}
#kontener {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    background-color: white;
}
.l {
    float: left;
    width: 70%;
}
.p {
    float: left;
    width: 26%;
    padding: 0% 2%;
}
h3 {
    width: 100%;
    text-align: center;
}
.obrazek {
    float: left;
    width: 50%;
}
.imgg {
    margin: 10px 30px;
    background-color: black;
    min-height: 200px;
    
}